SECRET_KEY='my_secret_code'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=localhost
DB_PORT=5432

SUPERUSER_USERNAME=super user
SUPERUSER_EMAIL=super_user@ya.com
SUPERUSER_PASSWORD=password
